#devops
black==22.3.0
click==8.1.3 
pytest==7.1.3
pytest-cov==4.0.0
#web
fastapi==0.85.0
uvicorn==0.18.3
Pillow==9.3.0
torchvision==0.14.0
python-multipart==0.0.5

#torch
#torchvision
#Pillow
#gunicorn
#fastapi==0.61.1
#uvicorn==0.11.8
#python-multipart
#requests==2.24.0

#devops
#black==22.3.0
#click==8.1.3 
#pytest==7.1.3
#pytest-cov==4.0.0
#pylint==2.15.3
#web
#fastapi==0.85.0
#uvicorn==0.18.3
#Pillow==9.3.0
#torchvision==0.14.0
#torchvision
#python-multipart==0.0.6
#Flask
#torch
